// Query manager
@mixin respond($media) {
    @media only screen and (max-width: $media) {
        @content;
    }
}

// Variables
:root {
    --font-primary: 'Space Grotesk', sans-serif;
}

// Globals
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;

    @include respond(991px) {
        font-size: 9.5px;
    }

    @include respond(768px) {
        font-size: 9px;
    }

    @include respond(600px) {
        font-size: 8px;
    }
}

body {
    font-family: var(--font-primary);
    font-weight: 400;
    line-height: 1.5;
    background-color: #000000;
    overflow-x: hidden;
    color: white;
}

p {
    word-break: break-all;
    overflow-wrap: break-word;
}

p.huge {
    font-size: 2rem;
}

img {
    max-width: 100%;
}

section {
    padding: 8rem 0;
}

.mycontainer {
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;

    @include respond(1400px) {
        max-width: 1140px;
    }

    @include respond(1200px) {
        padding: 0 4%;
    }
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-img {
        width: 7rem;
        margin-right: 2rem;
    }

    .logo-text {
        font-size: 4.2rem;
        color: white;
    }
}

.section-title-box {
    text-align: center;
    color: white;
    margin-bottom: 4rem;

    h2 {
        font-size: 3.2rem;
    }

    p {
        margin-top: 2rem;
        font-weight: 300;
        font-size: 2.2rem;
        letter-spacing: 4px;
        text-transform: capitalize;

    }
}

// header
.header {
    .navbar {
        font-size: 1.8rem;
        font-family: inherit;
        padding: 4rem 0;


        .nav-item {
            align-self: center;

            .nav-link {
                color: white;
                text-decoration: none;
                cursor: pointer;
            }

            @include respond(991px) {
                align-self: stretch;
            }
        }
    }
}

.hero {
    min-height: 98vh;
    background-image: url(../images/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;

    @include respond(1400px) {
        min-height: 90vh;
    }

    &-content {
        @include respond(950px) {
            display: grid;
            padding-bottom: 7rem;
        }
    }

    &-text-col {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 550px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 5rem 0;

        @include respond(950px) {
            position: relative;
            top: 0;
            transform: translateY(0);
            padding: 8rem 0;
        }

        .hero {
            &-title {
                font-size: 4.2rem;
            }

            &-desc {
                font-size: 1.8rem;
                padding: .5rem 0;
            }

            &-datebox {
                display: flex;
                align-items: center;

                hr {
                    width: 30%;
                    height: 2px;
                    margin-right: 1.5rem;
                    background-color: white;

                    @include respond(450px) {
                        width: 20%;
                    }

                    @include respond(400px) {
                        width: 10%;
                    }
                }
            }

            &-date {
                letter-spacing: 7px;
                font-weight: 300;
                font-size: 2.8rem;

                @include respond(450px) {
                    font-size: 2.4rem;
                    ;
                }
            }
        }

        .btn {
            padding: 1.7rem 3.7rem;
            background-image: linear-gradient(to right, #ECDF93, #958A5E);
            align-self: flex-start;
            font-size: 1.8rem;
            border-radius: 1rem;
            text-decoration: none;
            transition: all .2s ease-in;

            &:hover {
                background-image: linear-gradient(to left, #ECDF93, #958A5E);
            }
        }
    }

    .hero-img {
        width: 50%;
        position: absolute;
        top: 20%;
        right: -10%;

        @include respond(950px) {
            position: relative;
            top: 0;
            right: 0;
            justify-self: end;
            margin-top: -5rem;
        }

        @include respond(900px) {
            margin-top: 2rem;
            width: 80%;
        }
    }
}

.cards-section {
    background-image: url(../images/cards-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    .cards-content {
        margin-top: 10rem;
    }

    .mycard {
        margin: 5rem 0;
        display: flex;
        gap: 3rem;

        @include respond(900px) {
            margin: 7rem 0;
        }

        @include respond(700px) {
            flex-direction: column;
        }

        .card {
            &-img-col {
                flex: 1;

                @include respond(700px) {
                    order: 0;
                }

                img {
                    width: 100%;
                    margin: 0 auto;
                }
            }

            &-text-col {


                flex: 1;
                align-self: center;
                justify-self: center;

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 2rem;

                @include respond(700px) {
                    order: 1;
                    align-self: flex-start;
                }

                .icon-box {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    span {
                        font-size: 2.2rem;
                        margin-left: 1.5rem;
                    }
                }

                h4 {
                    font-weight: 300;
                    font-size: 2.8rem;
                    letter-spacing: 1.5px;
                }

                ul {
                    list-style: none;
                    padding: 0;
                    display: grid;
                    gap: .7rem;

                    li {
                        font-size: 1.6rem;
                    }
                }
            }
        }

    }
}

.section-combo-uh {
    background-image: url(../images/founders-bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    &>section {
        padding: 6rem 0;
    }
}

.social-accounts {
    a {
        text-decoration: none;
        color: white;

        &:not(:last-child) {
            margin-right: 2rem;
        }

        i {
            font-size: 2.5rem;
        }
    }
}

.section-upgrades {

    .upgrades-content {
        padding: 10rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;

        @include respond(700px) {
            grid-template-columns: 1fr;
        }

        .upgrade-box {
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            h5 {
                max-width: 50rem;
                font-size: 2.3rem;
                font-weight: 300;
                letter-spacing: 2px;
            }

            img {
                width: 100%;
            }
        }
    }
}

.section-founders {

    .founders-content {
        padding: 8rem 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem;
        align-items: center;
        justify-content: center;

        @include respond(700px) {
            grid-template-columns: 1fr;
        }

        .founder-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .founder-img {
                margin-bottom: 3rem;
            }

            h6 {
                font-size: 2.3rem;
                margin-bottom: 1rem;
            }

            p {
                margin-bottom: 1rem;
                font-size: 1.6rem;
                font-weight: 300;
                letter-spacing: 1px;
            }


        }
    }
}

.section-roadmap {
    background-image: url(../images/roadmap-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.6rem;

    .mycontainer {
        width: 70%;
        margin: 0 auto;

        @include respond(500px) {
            width: 90%;
        }
    }

    h2 {
        font-size: 3.2rem;
        margin-bottom: 3rem;
    }

    .roadmap {
        &-card {
            position: relative;
            display: flex;

            .icon-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-right: 4rem;

                .vertical {
                    flex: 1;
                    width: 2px;
                    background-color: white;
                }

                img {
                    width: 30rem;
                    height: auto;
                }
            }

            h3 {
                font-size: 2.8rem;
                margin-bottom: 1rem;
            }

            p {
                opacity: 60%;
            }

        }
    }
}

.footer {
    background-image: url(../images/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem 0;

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .footer-nav {
        ul {
            display: flex;
            flex-direction: row;
            list-style: none;

            li {
                a {
                    color: white;
                    text-decoration: none;
                    cursor: pointer;
                    font-size: 1.8rem;
                }
            }
        }
    }

    .copyright {
        font-size: 1.4rem;
    }
}